body
{
    font-family: 'Licorice', cursive;
    font-family: 'Source Sans 3', sans-serif;
    background-image: linear-gradient(to bottom, #8bd4d0, #88caaa, #99bb80, #b3a85e, #cd8f51, #d97850, #e15e5d, #e04373, #d82183, #c70099, #a900b2, #741acc);
    background-size: 100%;
    
}

